@use 'variable' as *;
@use 'mixins' as *;

nav{
    @include flex;
    height: 9.2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 75%;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 0;
    .image-section{
        .desktop{
            width: 100%;
            max-width: 500px;
        }
    }
}
.flex {
    p{
        font-size: $fontMd;
        font-weight: bolder;
    }
}

.about{
    margin-top: 9rem;
    position: relative;
    left: 180px;
    h1{
        font-size: $fontXl;
    }
    p{
        margin:30px 0;
        font-size: $fontSm;
        width: 60%;
        text-wrap: wrap;
    }
}
main{
    margin-top: 30rem;
}