@use 'variable' as *;

@mixin show-desktop-only {
    $min: map-get($breakpoints, sm) + 1;
  
    display: none;
    @media (min-width: #{$min}) {
      display: block;
    }
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
